@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px/2);
    padding-right: calc(50% - 786px/2);
  }
  .top {
    background-position: top 0px right 0px, top 44px left 81px,
      top 87px left 27px, bottom 64px right 106px, bottom 18px right 154px;
  }
  .top__block {
    padding-top: 86px;
    padding-bottom: 130px;
    text-align: center;
  }
  .top__text {
    max-width: 660px;
    text-align: center;
  }
  .about-Games {
    display: none;
  }
  .games__title {
    text-align: center;
    font-size: 50px;
  }
  .games__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-text {
    text-align: center;
  }
}
