body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.brm {
  display: none;
}
.top {
  background-color: #e1ff8f;

  &__img1 {
    position: absolute;
    top: 69px;
    left: 156px;
  }
  &__img2 {
    position: absolute;
    top: 94px;
    left: 63px;
  }
  &__img3 {
    position: absolute;
    top: 538px;
    left: 948px;
  }
  &__img4 {
    position: absolute;
    top: 568px;
    left: 1013px;
  }
  &__img5 {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &__img5mob {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__block {
    padding-top: 196px;
  }

  &__title {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 64px;
    line-height: 78.02px;
    color: #202027;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    color: #202027;
  }

  &__text2 {
    font-weight: 600;
    color: #202027;
  }

  &__btn {
    padding: 16px 65px 16px 65px;
    display: inline-block;
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 247px;
    height: 67px;
    font-size: 24px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 48px;
    margin-bottom: 156px;
    transition: 0.3s;
  }

  &__btn:hover {
    background: #ffffff;
    color: #202027;
  }
}

.line {
  height: 90px;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(188, 236, 48);

  &__text {
    padding-top: 27px;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }

  &__text2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 110.00000000000001%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #202027;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  &__text-img {
    display: inline-block;
    font-size: 18px;
    color: #202027;
    margin-right: 51px;
    margin-left: 51px;
  }

  &__text-img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
  }
}

.aboutGames {
  background: #202027;

  &__star--big {
    position: absolute;
    top: 945px;
    right: 0px;
  }

  &__star--1 {
    position: absolute;
    top: 1570px;
    left: 27.97px;
  }

  &__star--2 {
    position: absolute;
    top: 1622px;
    left: 48.18px;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 78.02px;
    letter-spacing: 0px;
    padding-bottom: 24px;
    padding-top: 94px;
    color: #ffffff;
  }

  &__text {
    padding-bottom: 72px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #ffffff;
  }

  &__box {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    gap: 32px;
    padding-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    grid-column: span 4;
    border-radius: 30px;
    background-repeat: no-repeat;
    z-index: 1;
    transition: 1s;
  }

  &__item:hover {
    transform: scale(1.1);
  }

  &__item-content {
    height: 314px;
    background-repeat: no-repeat;
    border-radius: 30px;
  }

  &__item-content--1 {
    background: url(img/about1.png);
    background-repeat: no-repeat;
  }

  &__item-content--2 {
    background: url(img/about2.png);
  }

  &__item-content--3 {
    background: url(img/about3.png);
  }

  &__item-content--4 {
    background: url(img/about4.png);
  }

  &__item-content--5 {
    background: url(img/about5.png);
  }

  &__item-content--6 {
    background: url(img/about6.png);
  }

  &__item-number {
    height: 36px;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 207px;
    margin-bottom: 16px;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
  }

  &__item-text {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    padding: 0px 36px 36px;
  }

  &__item:nth-child(4),
  &__item:nth-child(6) {
    margin-top: -32px;
  }
}

.games {
  background-color: #202027;
  padding-bottom: 112px;

  &__star--1 {
    position: absolute;
    top: 2363px;
    right: 124px;
  }
  &__star--2 {
    position: absolute;
    top: 2396px;
    right: 45px;
  }
  &__star--3 {
    position: absolute;
    top: 5684px;
    right: 150px;
  }
  &__star--4 {
    position: absolute;
    top: 5636px;
    right: 52px;
  }

  &__cont {
    padding-top: 46px;
  }
  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 78.02px;
    letter-spacing: 0px;
    padding-bottom: 72px;
    color: #ffffff;
  }

  &__item {
    background-color: #ffffff;
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px;
    transition: 1s;
  }

  &__item:hover {
    transform: scale(1.08);
  }

  &__imgrevers {
    flex-direction: row-reverse;
  }
  &__content--right {
    padding-right: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 48px;
    padding-top: 48px;
  }
  &__item-title {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    padding-bottom: 24px;
    width: 504px;
  }
  &__item-text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 36px;
    width: 500px;
  }

  &__sbtn {
    width: 247px;
    height: 66px;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    font-family: "Montserrat";
  }

  .games__brm {
    display: none;
  }
}

.footer {
  background-color: #bded35;
  height: 150px;

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 61px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@import "mobile";
@import "tablet";
