body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-color: #e1ff8f;

  &__img1 {
    position: absolute;
    top: 69px;
    left: 156px;
  }
  &__img2 {
    position: absolute;
    top: 94px;
    left: 63px;
  }
  &__img3 {
    position: absolute;
    top: 538px;
    left: 948px;
  }
  &__img4 {
    position: absolute;
    top: 568px;
    left: 1013px;
  }
  &__img5 {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  &__img5mob {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__block {
    padding-top: 196px;
  }

  &__title {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 64px;
    line-height: 78.02px;
    color: #202027;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    color: #202027;
  }

  &__text2 {
    font-weight: 600;
    color: #202027;
  }

  &__btn {
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 247px;
    height: 67px;
    font-size: 24px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    margin-top: 48px;
    margin-bottom: 156px;
  }

  &__btn:hover {
    background: #ffffff;
    color: #202027;
    transition: 0.3s;
  }

  &__line {
    background-color: rgb(188, 236, 48);

    overflow: hidden;
    height: 90px;
  }
}
.card {
  background: #202027;
  height: 1470px;

  &__img-blackstar1 {
    position: absolute;
    top: 945px; //946
    right: 0px; //933
  }

  &__img-blackstar2 {
    position: absolute;
    top: 1570px;
    left: 27.97px;
  }
  &__img-blackstar3 {
    position: absolute;
    top: 1622px;
    left: 48.18px;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 78.02px;
    letter-spacing: 0px;
    padding-top: 94px;
    color: #ffffff;
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 72px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #ffffff;
  }
}
.card-box {
  max-height: 1060px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  gap: 32px;

  &__img {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    grid-column: span 4;
    border-radius: 30px;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__img:hover {
    width: 350px;
    transform: scale(1.1);
    transition: 1s;
  }

  &__item {
    height: 314px;
    background-repeat: no-repeat;
    border-radius: 30px;
  }

  &__item-1 {
    background: url(img/about1.png);
    background-repeat: no-repeat;
  }

  &__item-2 {
    background: url(img/about2.png);
  }

  &__item-3 {
    background: url(img/about3.png);
   
  }

  &__item-4 {
    background: url(img/about4.png);
  }

  &__item-5 {
    background: url(img/about5.png);
  }

  &__item-6 {
    background: url(img/about6.png);
  }

  &__number {
    height: 36px;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 207px;
    margin-bottom: 10px;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
  }

  &__text {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    text-align: left;

    padding: 0px 36px 32px;
  }
}

.card1-box {
}
.card1-box__img1 {
}
.card1-box__img2 {
}
.card1-box__title {
}
.card1-box1 {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.card1-box1__img {
}
.card1-box1__item {
}
.card1-box1__item-1 {
}
.card1-box1__flex {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.5s;
}

.card1-box1__number {
}
.card1-box1__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  width: 504px;
}
.card1-box1__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 36px;
}

.card-box__item-2 {
  background-image: url(img/about2.png);
}
.card-box__item-3 {
  background-image: url(img/about3.png);
}
.card-box__item-4 {
  background-image: url(img/about4.png);
}
.card-box__item-5 {
  background-image: url(img/about5.png);
}
.card-box__item-6 {
  background-image: url(img/about6.png);
}

.footer {
  background-color: #bded35;
  height: 150px;

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 61px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@import "mobile";
@import "tablet";

//<script src="hw-1.js"></script>
//calc((100vw - 1440px) / 2 - 448px);
