body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.brm {
  display: none;
}

.top {
  background-color: #e1ff8f;
}
.top__img1 {
  position: absolute;
  top: 69px;
  left: 156px;
}
.top__img2 {
  position: absolute;
  top: 94px;
  left: 63px;
}
.top__img3 {
  position: absolute;
  top: 538px;
  left: 948px;
}
.top__img4 {
  position: absolute;
  top: 568px;
  left: 1013px;
}
.top__img5 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.top__img5mob {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.top__block {
  padding-top: 196px;
}
.top__title {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 64px;
  line-height: 78.02px;
  color: #202027;
}
.top__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-top: 24px;
  color: #202027;
}
.top__text2 {
  font-weight: 600;
  color: #202027;
}
.top__btn {
  padding: 16px 65px 16px 65px;
  display: inline-block;
  background: #202027;
  border: 1px solid #202027;
  box-sizing: border-box;
  border-radius: 30px;
  width: 247px;
  height: 67px;
  font-size: 24px;
  font-weight: 600px;
  color: rgb(255, 255, 255);
  margin-top: 48px;
  margin-bottom: 156px;
  transition: 0.3s;
}
.top__btn:hover {
  background: #ffffff;
  color: #202027;
}

.line {
  height: 90px;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(188, 236, 48);
}
.line__text {
  padding-top: 27px;
  display: inline-block;
  animation: marquee 20s linear infinite;
}
.line__text2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #202027;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.line__text-img {
  display: inline-block;
  font-size: 18px;
  color: #202027;
  margin-right: 51px;
  margin-left: 51px;
}
.line__text-img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.aboutGames {
  background: #202027;
}
.aboutGames__star--big {
  position: absolute;
  top: 945px;
  right: 0px;
}
.aboutGames__star--1 {
  position: absolute;
  top: 1570px;
  left: 27.97px;
}
.aboutGames__star--2 {
  position: absolute;
  top: 1622px;
  left: 48.18px;
}
.aboutGames__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 78.02px;
  letter-spacing: 0px;
  padding-bottom: 24px;
  padding-top: 94px;
  color: #ffffff;
}
.aboutGames__text {
  padding-bottom: 72px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #ffffff;
}
.aboutGames__box {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  gap: 32px;
  padding-bottom: 30px;
}
.aboutGames__item {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  grid-column: span 4;
  border-radius: 30px;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 1s;
}
.aboutGames__item:hover {
  transform: scale(1.1);
}
.aboutGames__item-content {
  height: 314px;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.aboutGames__item-content--1 {
  background: url(img/about1.png);
  background-repeat: no-repeat;
}
.aboutGames__item-content--2 {
  background: url(img/about2.png);
}
.aboutGames__item-content--3 {
  background: url(img/about3.png);
}
.aboutGames__item-content--4 {
  background: url(img/about4.png);
}
.aboutGames__item-content--5 {
  background: url(img/about5.png);
}
.aboutGames__item-content--6 {
  background: url(img/about6.png);
}
.aboutGames__item-number {
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 207px;
  margin-bottom: 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.aboutGames__item-text {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding: 0px 36px 36px;
}
.aboutGames__item:nth-child(4), .aboutGames__item:nth-child(6) {
  margin-top: -32px;
}

.games {
  background-color: #202027;
  padding-bottom: 112px;
}
.games__star--1 {
  position: absolute;
  top: 2363px;
  right: 124px;
}
.games__star--2 {
  position: absolute;
  top: 2396px;
  right: 45px;
}
.games__star--3 {
  position: absolute;
  top: 5684px;
  right: 150px;
}
.games__star--4 {
  position: absolute;
  top: 5636px;
  right: 52px;
}
.games__cont {
  padding-top: 46px;
}
.games__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 78.02px;
  letter-spacing: 0px;
  padding-bottom: 72px;
  color: #ffffff;
}
.games__item {
  background-color: #ffffff;
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
  transition: 1s;
}
.games__item:hover {
  transform: scale(1.08);
}
.games__imgrevers {
  flex-direction: row-reverse;
}
.games__content--right {
  padding-right: 48px;
}
.games__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 48px;
  padding-top: 48px;
}
.games__item-title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-bottom: 24px;
}
.games__item-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
}
.games__sbtn {
  width: 247px;
  height: 66px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat";
}
.games .games__brm {
  display: none;
}

.footer {
  background-color: #bded35;
  height: 150px;
}
.footer__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 61px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
  .line__text2 {
    font-size: 24px;
  }
  .line__text-img {
    margin-right: 30px;
    margin-left: 30px;
  }
  .top__img1 {
    top: 50px;
    left: 100px;
  }
  .top__img2 {
    top: 70px;
    left: 30px;
  }
  .top__img3 {
    top: 400px;
    left: 700px;
  }
  .top__img4 {
    top: 430px;
    left: 750px;
  }
  .top__img5 {
    top: 0px;
    right: 0px;
    width: 200px;
  }
  .top__title {
    font-size: 48px;
    line-height: 58px;
  }
  .top__text {
    font-size: 20px;
    line-height: 28px;
  }
  .top__btn {
    font-size: 20px;
    padding: 12px 50px;
    width: 200px;
    height: 56px;
  }
  .aboutGames__star--big {
    top: 800px;
    right: 0px;
    width: 150px;
  }
  .aboutGames__star--1 {
    top: 1300px;
    left: 20px;
  }
  .aboutGames__star--2 {
    top: 1350px;
    left: 40px;
  }
  .aboutGames__title {
    font-size: 48px;
    line-height: 58px;
  }
  .aboutGames__text {
    font-size: 20px;
    line-height: 28px;
  }
  .aboutGames__item-text {
    font-size: 24px;
  }
  .aboutGames__box {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
  .aboutGames__item {
    grid-column: span 3;
  }
  .aboutGames__item:nth-child(4), .aboutGames__item:nth-child(6) {
    margin-top: 0;
  }
  .games__star--1 {
    top: 2000px;
    right: 80px;
  }
  .games__star--2 {
    top: 2030px;
    right: 20px;
  }
  .games__star--3 {
    top: 4800px;
    right: 100px;
  }
  .games__star--4 {
    top: 4750px;
    right: 20px;
  }
  .games__title {
    font-size: 48px;
    line-height: 58px;
  }
  .games__item-title {
    font-size: 36px;
    line-height: 44px;
  }
  .games__item-text {
    font-size: 20px;
    line-height: 28px;
  }
  .games__sbtn {
    font-size: 20px;
    width: 200px;
    height: 56px;
  }
  .games__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .games__imgrevers {
    flex-direction: column;
  }
  .games__content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
  .games__content--right {
    padding-right: 24px;
  }
  .games__sbtn {
    margin-bottom: 24px;
  }
  .footer {
    height: 120px;
  }
  .footer__text {
    font-size: 20px;
    line-height: 24px;
    padding-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .top {
    background-position: top 0px right 0px, top 44px left 81px, top 87px left 27px, bottom 64px right 106px, bottom 18px right 154px;
  }
  .top__block {
    padding-top: 86px;
    padding-bottom: 130px;
    text-align: center;
  }
  .top__text {
    max-width: 660px;
    text-align: center;
  }
  .aboutGames {
    display: none;
  }
  .games__title {
    text-align: center;
    font-size: 50px;
  }
  .games__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .br {
    display: none;
  }
  .top {
    height: 648px;
    background-color: #e1ff8f;
  }
  .top__img5, .top__img4, .top__img3, .top__img2, .top__img1 {
    display: none;
  }
  .top__img1m {
    display: block;
    background-repeat: no-repeat;
    top: 64px;
    left: 92px;
    width: 21px;
    height: 21px;
  }
  .top__img2m {
    display: block;
    background-repeat: no-repeat;
    top: 97px;
    left: 38px;
    width: 35px;
    height: 35px;
  }
  .top__img3m {
    display: block;
    background-repeat: no-repeat;
    top: 557px;
    left: 273px;
    width: 18px;
    height: 18px;
  }
  .top__img4m {
    display: block;
    background-repeat: no-repeat;
    top: 580px;
    left: 304px;
    width: 39px;
    height: 41px;
  }
  .top__img5mob {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .top__block {
    max-width: 100%;
    padding-top: 0;
  }
  .top__block1 {
    margin-left: 17px;
    margin-right: 17px;
  }
  .top__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding-top: 147px;
    margin-left: 0;
    margin-right: 17px;
    margin-left: 17px;
    text-align: center;
  }
  .top__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 24px;
    text-align: center;
    margin-right: 23px;
    margin-left: 23px;
    margin-bottom: 36px;
  }
  .top__text2 {
    font-weight: 600;
  }
  .top__btn {
    text-align: center;
    background: #202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 30px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 131px;
  }
  .top__btn:hover {
    background: #ffffff;
    color: #202027;
    transition: 0.3s;
  }
  .line {
    background-color: rgb(188, 236, 48);
    max-width: 100%;
    overflow: hidden;
    height: 51px;
  }
  .line__text {
    padding-top: 16px;
  }
  .line__text2 {
    font-size: 16px;
  }
  .line__text-img {
    width: 19px;
    height: 19px;
    margin-left: 27px;
    margin-right: 27px;
  }
  .aboutGames {
    display: none;
  }
  .games {
    padding-bottom: 49px;
  }
  .games__star--1, .games__star--2, .games__star--3, .games__star--4 {
    display: none;
  }
  .games__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-bottom: 48px;
  }
  .games__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    transition: 1s;
  }
  .games__item:hover {
    transform: scale(1.08);
  }
  .games__content {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 29px;
  }
  .games__br {
    display: none;
  }
  .games__img {
    max-width: 100%;
  }
  .games__item-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 284px;
  }
  .games__item-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 284px;
  }
  .games__sbtn {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
    width: 285px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */